/*General*/
body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header,
footer {
  background-color: #1f2937;
}

header a,
.header__subtext {
  color: #e5e7eb;
}

button {
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
}

.header__right-container,
.main__middle {
  justify-content: center;
  align-items: center;
}

.header__bottom,
.header__right-container  {
  display: flex;
}

.quote-author,
.call-to-action__title {
  font-weight: 700;
}

/*header*/

header {
  color: white;
  padding: 15px 200px 100px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header__logo {
  font-size: 24px;
}

header a {
  text-decoration: none;
}

header a:not(:last-child) {
  margin-right: 15px;
}

h1, 
.header__logo {
  color: #f9faf8;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 8px;
}

.header__subtext {
  margin-bottom: 8px;
  font-size: 18px;
}

.header__left-container {
  width: 450px;
}

.header__sign-up-button {
  background-color: #3882f6;
  border: none;
}

.header__right-container {
  margin-left: 50px;
  background-color: rgb(117, 117, 117);
  flex: 1;
}

/*main*/
main {
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
}

.main__top-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  color: rgb(105, 105, 105);
  padding-bottom: 100px;
}

.main__subtext-container {
  width: 150px;
  text-align: center;
}

.subtext-container__box {
  border: 3px solid #3882f6;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.main__middle {
  display: flex;
  background-color: #e5e7eb;
  height: 400px;
  margin-bottom: 80px;
}

.main__quote-container {
  display: flex;
  flex-direction: column;
  width: 830px;
}

.quote-container {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  align-self: end;
  padding-right: 50px;
}

.main__bottom {
  display: flex;
  padding: 0 200px;
  margin-bottom: 80px;
}

.main__call-to-action {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 40px 100px;
  background-color: #3882f6;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.call-to-action__title {
  margin-bottom: 3px;
}

.call-to-action__sign-up {
  color: rgb(226, 226, 226);
  font-size: 14px;
}

.main__call-to-action button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  height: 25px;
}

/*footer*/
footer {
  background-color: #1f2937;
  color: rgb(212, 212, 212);
  text-align: center;
  padding: 25px 0;
  font-size: 12px;
}